.SideBar {
  width: 15rem;
  height: 100%;
  border-right: 1px lightgrey solid;
  
  position: fixed;
  
  text-align: left;
  padding: 1rem;
  text-transform: uppercase;
  font-size: small;
}

.SideBarSection {
  padding-top: 1rem;
}
.SideBarSection:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px lightgrey solid;
}

.SideBarSubSection {
	padding-left: 1rem;
}


.SideBarNav, .SideBarNavActive {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0;
}

.SideBarNav {
  color: #aaa;
}
.SideBarNav img {
  filter: invert(50%);
}
.SideBarNavActive {
  color: #666;
}
.SideBarNavActive img {
  filter: invert(25%);
}

.SideBarNav:hover, .SideBarNavActive:hover {
  color: skyblue;
}
.SideBarNav:hover img, .SideBarNavActive:hover img {
  filter: invert(72%) sepia(80%) saturate(296%) hue-rotate(166deg) brightness(98%) contrast(88%);
}


.SideBarNav img, .SideBarNavActive img {
  display: inline;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}